.section1 {
    background: #7d8080;
    height: 100vh;
    background-image: url("../img/heimdall-logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25%;
}