{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "$": true
    }
}