html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
body {
	background: $body-bg;
}

#app {
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
  	background-image: url('/img/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;

	nav {
		display: flex;
		flex-direction: column;
		height: 100%;
		position: absolute;
		width: 340px;
		left: -340px;
		transition: all .35s ease-in-out;
		background: rgba(0,0,0, 0.7);
		color: white;
		z-index: 2;
	}
	.content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.appheader {
			background: rgba(0,0,0, 0.4);
			text-align: center;
			position:absolute;
			height: 58px;
			width: 100%;
			top: -58px;
			transition: all .35s ease-in-out;
			z-index: 1;
			ul {
				display: inline-block;
				list-style: none;
				height: 58px;
				border-left: 1px solid rgba(0,0,0,0.6);
				border-right: 1px solid rgba(255,255,255,0.1);
				margin: 0;
				padding: 0;
			}
			li {
				display: inline-block;
				border-right: 1px solid rgba(0,0,0,0.6);
				border-left: 1px solid rgba(255,255,255,0.1);

			}
			a {
				display: inline-block;
				color: white;
				text-decoration: none;
				padding: 20px;
			}
		}

	}
	main, #sortable {
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		position: relative;
		flex-wrap: wrap;
		align-content: center;
		list-style: none;
		margin: 0;
		.config {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 50px;
			height: 50px;
			background: rgba(0,0,0,0.8);
			text-align: center;
			line-height: 50px;
			color: white;
		}
	}
}
.item-container {
	//width: 340px;
	//transition: width .35s ease-in-out;	
}
.message-container {
	width: 100%;
	.alert {
		margin: 30px;
		text-align: center;
	}
}
#app {
	&.header {
		.appheader {
			top: 0;
		}
		.item-container {
			//width: 240px;
		}
		.item, .add-item {
			transform: scale(0.8);
			opacity: 0.7;
			margin: 20px 0;
		}
	}
	&.sidebar {
		nav {
			left: 0;
		}
	}
}
.add-item {
	width: 300px;
	height: 130px;
	margin: 20px;
	flex: 0 0 300px;
	border-radius: 6px;
	padding: 20px;
	border: 4px dashed rgba(255,255,255,0.7);
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
	color: white;
	overflow: hidden;
	position: relative;	
	display: none;
	outline: 1px solid transparent;
	&.active {
		display: block;
	}
	a {
		display: block;
		width: 100%;
		text-align: center;
		line-height: 90px;
		color: white;
		font-size: 19px;
	}
}
.item {
	width: 300px;
	height: 130px;
	margin: 20px;
	flex: 0 0 300px;
	background-image:linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,.25));
	border-radius: 6px;
	padding: 20px;
	padding-right: 80px;
	//border: 2px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
	color: white;
	overflow: hidden;
	position: relative;
	transition: all .35s ease-in-out;
	outline: 1px solid transparent;
	display: flex;
	align-items: center;
	&:after {
		content: "";
		position: absolute;
		width: 130px;
		height: 134px;
		border-radius: 50%;
		position: absolute;
		right: -78px;
		top: -2px;
		background: rgba(255,255,255,0.1);
		box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
	}
	.link {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 52px;
		text-align: center;
		line-height: 134px;
		color: white;
		font-size: 24px;
		z-index: 1;
	}
}
.text-center {
	text-align: center!important;
}
.module-container {
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid #cdced8;
    background: #f9fafd;
    max-width: 1000px;
	width: 100%;
	margin: 0 40px;
	header, footer {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    border-top: 1px solid #fff;
	    background: #f2f3f6;
	    font-size: 16px;
	    border-bottom: 1px solid #dbdce3;
	    height: 60px;
	    position: relative;
	    .section-title {
		    font-size: 18px;
		    color: #5b5b5b;
		    margin-left: 25px;
		}
	}
	footer {
		border-top: 1px solid #dbdce3;
	}
	.table {
		width: 100%;
		margin:0;
		background:#fff;
	
		thead {
			th {
    			background: #f2f3f6;
			    color: #767d94;
			    border-top: 1px solid #fff;
			    text-align: left;
			    font-size: 13px;
			    text-transform: uppercase;
			    padding: 15px 25px;
			}
		}
		tbody {
			tr {
				&:hover {
					background: #fefbf2;
					td:first-child {
						position: relative;
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							width: 5px;
							background: $app-green;
						}
				   
					}
				}
			}
			td {
				padding: 20px 25px;
				font-size: 13px;
				color: $app-text;
				&.form-error {
					background: #e69191;
					color: white;
					text-align: center;					
				}
			}
			a {
				color: $app-text;
			}
		}
	}
}
.module-actions {
    display: flex;
    justify-content:space-between;
    align-items: center;

    .button {
        font-size: 18px;
        color: lighten($app-text, 15%);
        padding: 0 10px;  
        border: none;
        border-left: 1px solid $table-line;    
        display: flex;
        line-height: 1;
        position:relative;
        background: transparent;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 65px;
        height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        &:after {
            position: absolute;
            content: "";
            top:0;
            left:0;
            bottom: 0;
            border-right: 1px solid #fff;
        }
        span {
            display: inline-block;
            line-height: 1;
            font-size: 9px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ababab;
            position: relative;
            top: 4px;
            margin: 0;
        }
    }
}
div.create {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	.input {
		width: 260px;
		margin: 20px;
		label {
			width: 100%;
			font-size: 13px;
			color: lighten($app-text, 40%);
			margin-bottom: 15px;
			display: block;
			font-weight: 300;
		}
		input {
			width: 100%;
			border: 1px solid #dedfe2;
			padding: 10px;
			border-radius: 6px;
		}
	}
}

.app-icon {
	max-width: 60px;
	margin-right: 10px;
}

.sidenav {
	h2 {
		font-weight: 300;
		padding: 20px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 20px;
		li {
			display: flex;
			justify-content: space-between;
			padding: 5px;
			a {
				color: #2b3542;
				&.active {
					color: #46b0e6;
				}
			}
		}
	}
}