html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
body {
	background: $body-bg;
}

#app {
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
  	background-image: url('/img/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;

	nav {
		display: flex;
		flex-direction: column;
		height: 100%;
		display:none;
	}
	.content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	> header {
		background: rgba(0,0,0, 0.4);
		padding: 20px;
	}

	}
	main {
		padding: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
	}
}

.item {
	width: 300px;
	height: 130px;
	margin: 20px;
	background-image:linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,.25));
	border-radius: 6px;
	padding: 20px;
	//border: 2px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
	color: white;
	overflow: hidden;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 130px;
		height: 134px;
		border-radius: 50%;
		position: absolute;
		right: -78px;
		top: -2px;
		background: rgba(255,255,255,0.1);
		box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
	}
}
.module-container {
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid #cdced8;
    background: #f9fafd;
    max-width: 1000px;
	width: 100%;
	margin: 0 40px;
	header {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    border-top: 1px solid #fff;
	    background: #f2f3f6;
	    font-size: 16px;
	    border-bottom: 1px solid #dbdce3;
	    height: 60px;
	    position: relative;
	    .section-title {
		    font-size: 18px;
		    color: #5b5b5b;
		    margin-left: 25px;
		}
	}
	.table {
		width: 100%;
		margin:0;
		background:#fff;
	
		thead {
			th {
    			background: #f2f3f6;
			    color: #767d94;
			    border-top: 1px solid #fff;
			    text-align: left;
			    font-size: 13px;
			    text-transform: uppercase;
			    padding: 15px 25px;
			}
		}
		tbody {
			tr {
				&:hover {
					background: #fefbf2;
					td:first-child {
						position: relative;
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							width: 5px;
							background: $app-green;
						}
				   
					}
				}
			}
			td {
				padding: 20px 25px;
				font-size: 13px;
				color: $app-text;
				&.form-error {
					background: #e69191;
					color: white;
					text-align: center;					
				}
			}
		}
	}
}
.module-actions {
    display: flex;
    justify-content:space-between;
    align-items: center;

    .button {
        font-size: 18px;
        color: lighten($app-text, 15%);
        padding: 0 10px;  
        border: none;
        border-left: 1px solid $table-line;    
        display: flex;
        line-height: 1;
        position:relative;
        background: transparent;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 65px;
        height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        &:after {
            position: absolute;
            content: "";
            top:0;
            left:0;
            bottom: 0;
            border-right: 1px solid #fff;
        }
        span {
            display: inline-block;
            line-height: 1;
            font-size: 9px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ababab;
            position: relative;
            top: 4px;
            margin: 0;
        }
    }
}
div.create {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	.input {
		width: 260px;
		margin: 20px;
		label {
			width: 100%;
			font-size: 13px;
			color: lighten($app-text, 40%);
			margin-bottom: 15px;
			display: block;
			font-weight: 300;
		}
		input {
			width: 100%;
			border: 1px solid #dedfe2;
			padding: 10px;
			border-radius: 6px;
		}
	}
}
