
// Body
$body-bg: #cfd2d4;


$app-text: #2f313a;

$app-block-color: #b71234;
$app-light-color: #84764d;
$app-dark-color: #1d1d1b;

$app-green: #0eb584;
$app-red: #d64d55;
$app-blue: #47a4e9;
$app-purple: #514a77;

$table-heading: #f2f3f6;
$table-line: #cdced8;
