$body-bg: #CCC;
$app-text: #000;

$app-block-color: #B13;
$app-light-color: #874;
$app-dark-color: #222;

$app-green: #1B8;
$app-red: #D45;
$app-blue: #4AE;
$app-purple: #547;

$table-heading: #EEF;
$table-line: #CCD;
